* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @font-face {
        font-family: cocogoose;
        src: url(./img/"Cocogoose Pro Light-trial");
    }

}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D29C7B;
    width: 100vw;
    min-height: 300px;
}

.redes-sociais {

    display: flex;
    justify-content: right;
    background-color: #D29C7B;


}

.redes {
    width: 30px;
    margin: 20px;
    opacity: .6;
}

.logo-grande {
    width: 700px;
}

.menu {

    width: 200px;
    border: solid 1px #aa6d47;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    padding: 10px;
    border-radius: 10px;


}

.img{
    width: 300px;
    height: 310px;
}

option {
    background-color: #D29C7B;
    color: white;
    gap: 10px;
    text-align: left;
}

label {
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-family: cocogoose;
    font-weight: lighter;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-right: 10px;

}

.buttons-1:hover {
    color: #DA4B71;
    text-decoration: underline;
    transition: .3s ease-in-out;
}

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 400px;
    background-image: url(./img/textura.jpg);
    background-size: cover;
    text-align: center;

}
.div-sectio-2{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 1200px;
    height: 400px;
}

.imagens-todas {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    border-radius: 100%;
    border: solid 1px #DA4B71;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    background-color: #aa6d47;
    margin: 20px;
    transition: .2s ease;
    gap: 10px;
}

.imagens-todas:hover {
    opacity: .9;
    cursor: pointer;
    height: 210px;
    width: 210px;
    transition: .2s ease;
}

.paragrafo-1 {
    font-family: cocogoose;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 10px;
}

/* edição listas */

.lista-1 {
    opacity: 0;
    transition: opacity 1s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #D29C7B;
    padding: 20px;
    font-family: cocogoose;
    font-weight: lighter;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
    height: 350px;
    transition: .5s ease-in;
   



}

.titulo-lista {
    font-family: cocogoose;
    font-size: 20px;
    margin-top: 20px;
}

.button-avaliação {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #34a400;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.686);
    width: 200px;
    color: white;
    margin-top: 40px;
}

.button-avaliação:hover {
    opacity: .8;
    cursor: pointer;
}

.botao-fechar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #2b191e;
    border: none;
    
    font-size: 15px;
    width: 20px;
    padding: 2px;
    margin-left: 210px;
   
    text-align: center;
}

.botao-fechar:hover {
    opacity: .8;
    cursor: pointer;
}

.lista-2 {
    opacity: 0;
    transition: opacity 1s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #D29C7B;
    padding: 20px;
    font-family: cocogoose;
    font-weight: lighter;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
    height: 350px;

    transition: .5s ease-in;

}

.titulo-lista-2 {
    font-family: cocogoose;
    font-size: 20px;
    margin-top: 20px;
}

.lista-3 {
    opacity: 0;
    transition: opacity 1s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #D29C7B;
    padding: 20px;
    font-family: cocogoose;
    font-weight: lighter;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
    height: 350px;

    transition: .5s ease-in;
}

.titulo-lista-3 {
    font-family: cocogoose;
    font-size: 20px;
    margin-top: 20px;
}

.lista-4 {
    opacity: 0;
    transition: opacity 1s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #D29C7B;
    padding: 20px;
    font-family: cocogoose;
    font-weight: lighter;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
    height: 350px;

    transition: .5s ease-in;
}

.titulo-lista-4 {
    font-family: cocogoose;
    font-size: 20px;
    margin-top: 20px;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b191e;
    width: 100vw;
    min-height: 500px;

}

.img-janice {
    width: 300px;
    margin: 20px 0 20px 20px;
    border-radius: 20px;
}

.texto-sobre {
    margin-left: 20px;
    color: rgb(215, 215, 215);
    font-size: 15px;
    font-family: cocogoose;
    font-weight: lighter;


}