* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @font-face {
        font-family: cocogoose;
        src: url(./img/"Cocogoose Pro Light-trial");
    }

}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D29C7B;
    width: 100%;
    min-height: 300px;
}

.redes-sociais {

    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #D29C7B;
}

.redes {
    width: 30px;
    margin: 20px;
    margin-right: 30px;
    opacity: .6;
    cursor: pointer;
}

.seguirredes {
    margin-right: 10px;
    font-family: cocogoose;
    font-size: 15px;
    font-weight: lighter;
    color: #2b191ea9;
}

.logo-grande {
    width: 500px;

}

.button1 {

    margin-top: 40px;
    width: 150px;
    border: none;
    background-color: transparent;
    color: #2b191e;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-family: cocogoose;
    font-size: 13px;
    font-weight: lighter;


}

.img {
    width: 300px;
    height: 310px;
}

.button1:hover {

    box-shadow: 0 7px 5px #2b191e5c;
    transition: .3s ease-in-out;
}

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background: linear-gradient(135deg, #aa6d47, #D29C7B);
    text-align: center;

}

.div-sectio-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 400px;
}

.imagens-todas {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    border-radius: 100%;
    border: solid 1px #DA4B71;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    background-color: #aa6d47;
    margin: 20px;
    transition: .2s ease;
    gap: 10px;
}

.imagens-todas:hover {
    opacity: .9;
    cursor: pointer;
    height: 210px;
    width: 210px;
    transition: .2s ease;
}

.paragrafo-1 {
    font-family: cocogoose;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 10px;
}

/* edição listas */



.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b191e;
    width: 100%;
    min-height: 500px;

}

.img-janice {
    width: 300px;
    margin: 20px 0 20px 20px;
    border-radius: 20px;
}

.texto-sobre {
    margin-left: 20px;
    color: rgb(215, 215, 215);
    font-size: 13px;
    font-family: cocogoose;
    font-weight: lighter;
    word-spacing: 3px;
    line-height: 20px;



}

/* secao 3 */

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background: linear-gradient(-135deg, #aa6d47, #D29C7B);
    text-align: center;

}

.div-sectio-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 400px;
}

.imagens-todas {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    border-radius: 100%;
    border: solid 1px #DA4B71;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    background-color: #aa6d47;
    margin: 20px;
    transition: .2s ease;
    gap: 10px;
}

.imagens-todas:hover {
    opacity: .9;
    cursor: pointer;
    height: 210px;
    width: 210px;
    transition: .2s ease;
}

.agendar {
    z-index: 100;
    position: absolute;
    top: 180vh;
    right: 40vw;
    padding: 15px;
    background-color: #61e018;
    border: solid 1px transparent;
    border-radius: 20px;
    width: 300px;
    font-family: cocogoose;
    font-weight: 800;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
    cursor: pointer;

}

.agendar:hover {
    background-color: #76ff27;
    border: solid 1px white;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background: #2b191e;
    text-align: center;

}

.div-sectio-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.instagram-media {
    height: 500px;
}

.section-5 {
    background: linear-gradient(135deg, #aa6d47, #D29C7B);
}

.slideshow {
    width: 500px;
    height: 300px;
    position: relative;
}

.slideshow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: 0.2s;
    justify-content: space-around;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-6 {
    background: linear-gradient(135deg, #aa6d47, #D29C7B);
}